@model PanelViewModel
@{
    ViewBag.Title = "Index";
}

<h4>İzleme Ekranı</h4>

<div class="row">
    <div class="col-md-4 mt-3">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Yazılar
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QuantityArticles yazın bulunmakta.</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-scroll fa-2x text-gray-300"></i>
                    </div>

                </div>
                <a href="@Url.Action("Index","Articles")" class="btn btn-light btn-icon-split mt-3">
                    <span class="icon text-gray-600">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Yazılara Git</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Kategoriler
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QuantityCategories farklı kategoride yazın bulunmakta.</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-list fa-2x text-gray-300"></i>
                    </div>
                </div>
                <a href="@Url.Action("Index","Category")" class="btn btn-light btn-icon-split mt-3">
                    <span class="icon text-gray-600">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Kategorilere Git</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Yorumlar
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QuantityComments yorumun var.</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
                <a href="@Url.Action("Index","Comments")" class="btn btn-light btn-icon-split mt-3">
                    <span class="icon text-gray-600">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Yorumlara Git</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Etiketler
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QuantityTags farklı etikette yazın bulunmakta.</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
