@model HomeBlogViewModel

@{
    ViewBag.Title = "Index";
}
<section class="wow fadeIn bg-light-gray padding-35px-tb page-title-small top-space" style="margin-top: 72px; visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-md-6 text-center text-md-left">
                <!-- start page title -->
                <h1 class="alt-font text-extra-dark-gray font-weight-600 mb-0 text-uppercase">Kategori / @ViewBag.categoryName</h1>
                <!-- end page title -->
            </div>
            <div class="col-xl-4 col-md-6 alt-font breadcrumb justify-content-center justify-content-md-end text-small sm-margin-10px-top">
                <!-- start breadcrumb -->
                <ul>
                    <li><a href="@Url.Action("Index","Home")" class="text-dark-gray">Anasayfa</a></li>
                    <li><a href="@Url.Action("Index","Blog")" class="text-dark-gray">Blog</a></li>
                    <li><a href="#" class="text-dark-gray">@ViewBag.categoryName</a></li>

                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>

<section style="padding: 50px 0px">
    <div class="container">
        <div class="row">
            <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom md-padding-15px-lr">
                <!-- start post item -->
                @foreach (var item in Model.Articles)
                {
                    <div class="blog-post blog-post-style2">
                        <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-15px-bottom text-center">
                            <a href="@Url.Action("BlogTek","Blog", new { id=item.Id })">
                                <img src="@item.ArticlePhoto" alt="@item.ArticleTitle" data-no-retina="">
                            </a>
                        </div>
                        <div class="post-details">
                            <div class="author">
                                <span class="text-medium-gray text-uppercase text-extra-small d-inline-block">by <a href="home-blog-grid.html" class="text-medium-gray">@item.User.UserName.Substring(0, item.User.UserName.IndexOf("@"))</a>&nbsp;&nbsp;|&nbsp;&nbsp;@item.PostedDate.Value.ToString("dd MMM yyyy")</span>
                            </div>
                            <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block lg-width-100">@item.ArticleTitle</a>
                            <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        </div>
                    </div>
                }
                <!-- start pagination -->
                <div class="col-12 text-center margin-100px-top md-margin-50px-top position-relative wow fadeInUp">
                    <div class="pagination text-small text-uppercase text-extra-dark-gray">
                        <ul class="mx-auto">
                            <li><a href="#"><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end pagination -->
            </main>
            <aside class="col-12 col-lg-3">

                <!-- social media -->
                <div class="margin-50px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow Us</span></div>
                    <div class="social-icon-style-1 text-center">
                        <ul class="extra-small-icon">
                            <li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="google" href="http://google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a class="dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- categories -->
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Categories</span></div>
                    <ul class="list-style-6 margin-50px-bottom text-small">
                        @foreach (var item in Model.Categories)
                        {
                            var category = item.CategoryName;
                            <li><a href="@Url.Action("CategoryBlog","Blog", new { id = item.Id })">@category</a><span>@Model.Categories.FirstOrDefault(x => x.CategoryName == category).Articles.Count</span></li>
                        }

                    </ul>
                </div>

                <!--  -->
                <div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
                    <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
                    <span class="text-extra-large font-weight-300 margin-20px-bottom d-block">Okuma ihtiyacı barut gibidir, bir kere tutuşunca artık sönmez.</span>
                </div>


                <!-- tags -->
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>tags cloud</span></div>
                    <div class="tag-cloud">
                        @foreach (var item in Model.Tags)
                        {
                            <a href="@Url.Action("TagsBlog", "Blog", new { id = item.Id })">@item.TagName</a>
                        }
                    </div>
                </div>

                <!-- Archive -->
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Archive</span></div>
                    <ul class="list-style-6 margin-20px-bottom text-small">
                        <li><a href="blog-grid.html">July 2017</a><span>12</span></li>
                    </ul>
                </div>

                <!-- subscription -->
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>E-bültene Üye ol</span></div>
                    <div class="d-inline-block width-100">
                        <form id="frmEmailBlog">
                            @Html.AntiForgeryToken()
                            <div class="position-relative">
                                <input name="email" type="email" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Enter your email...">
                                <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope ml-0"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

            </aside>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $("#frmEmailBlog").submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "@Url.Action("EmailSub", "Blog")",
                data: $('#frmEmailBlog').serialize(),
                success: function (data) {
                    if (data == "İşlem Başarılı") {
                    toastr.success(data);
                    }
                    else {
                    toastr.info(data);
                    }
                    $('#frmEmailBlog')[0].reset()
                }
            });
        })
    </script>
}